

<div class="video-container">
    <video autoplay loop muted  width="100%" height="80%" style="z-index: -1;"  src="../../../../assets/video (1080p).mp4" >
       
      
    </video>


<div class="card">
    <div class="card-header"  >shibu   <div><mat-icon class="me-2" >videocam</mat-icon> <mat-icon>phone</mat-icon> </div>  </div>
    <div class="card-body">
        <div class="message sent" >
            Hello, how are you?
        </div>
        <div class="message received" style="text-align: end;">
            I'm good, thanks!
        </div>
        <!-- Add more messages here -->
    </div>
    <div class="card-footer">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Type your message">
            <div class="input-group-append">
                <button class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
</div>
