
<section >
<img class="banner"  width="100%" height="758px" src="../../../../assets/pexels-alex-andrews-821754.jpg" alt="">

<mat-icon class="account-icon" >account_circle</mat-icon>
   
     <section id="header" class="jumbotron text-center mb-2">
       <h1 class="display-3 mt-2" style="font-weight: bolder;" >Talk<span  class="hub" >Hub</span></h1>
       <p  style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" >Make your new conversation with TalkHub , It gives you good experience</p>
       <a mat-raised-button color="primary" class="me-2" style="width: 150px; height: 80px; " ><strong>Let's start</strong></a>
       <a mat-raised-button    style="width: 150px; height: 80px; " >Logout</a>
  </section>
    
  <div class="container">
    <div class="row">
        <!-- First Card -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img  height="300px" src="https://img.freepik.com/premium-vector/chatting-design-concept-with-hand-holding-cellphone_7087-798.jpg" class="card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Enhanced Understanding</h5>
                    <p class="card-text"> Effective communication fosters clarity, reducing misunderstandings and promoting cooperation among individuals or groups, leading to better outcomes.</p>
                </div>
            </div>
        </div>

        <!-- Second Card -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img height="300px" src="https://media.istockphoto.com/id/1278082136/vector/two-people-a-man-and-a-woman-are-sitting-and-talking-to-each-other-colorful-human.jpg?s=612x612&w=0&k=20&c=05rcUe_-I1odSYBEG3OqlLEXPyYR5AaLlJsQ3ANqVek=" class="card-img-top" alt="Image 2">
                <div class="card-body">
                    <h5 class="card-title">Video call and normal call</h5>
                    <p class="card-text">Open communication enables conflicts to be addressed constructively, promoting harmony and healthier relationships in personal and professional settings.</p>
                </div>
            </div>
        </div>

        <!-- Third Card -->
        <div class="col-md-4 mb-4 ">
            <div class="card">
                <img height="300px" src="https://img.freepik.com/premium-vector/online-love-chat-cartoon-tiny-man-woman-lover-characters-chatting-using-app-smartphone-loving-messages_109722-1172.jpg?w=2000" alt="Image 3">
                <div class="card-body">
                    <h5 class="card-title">Talking with lovers</h5>
                    <p class="card-text">Every moment with you feels like a dream come true, and I cherish every second we spend together 💕.it increase the trust between your partners or your friends </p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>